body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/934/877/286/naruto-shippuden-akatsuki-1024x769-anime-naruto-hd-art-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

div {
    padding: 20px;
}

h1, h2 {
    color: #444;
} 